{% extends 'admin/change_form.html' %}
{% load my_filters %}

{% block content %}
    <fieldset class="module aligned mb-0">
        <div class="form-row">
            <div>
                <label>'Customer </label>
                <div class="readonly">{{ original.transaction.customer_name }}</div>
            </div>
        </div>
    </fieldset>

    <fieldset class="module aligned mb-0">
        <div class="form-row">
            <div>
                <label>Email</label>
                <div class="readonly">{{ original.transaction.customer_email }}</div>
            </div>
        </div>
    </fieldset>

    <fieldset class="module aligned mb-0">
        <div class="form-row">
            <div>
                <label>Payment Method</label>
                <div class="readonly">{{ original.transaction.get_payment_method_display }}</div>
            </div>
        </div>
    </fieldset>

    <fieldset class="module aligned mb-0">
        <div class="form-row">
            <div>
                <label>Amount</label>
                <div class="readonly">{{ original.transaction.amount|currency }}</div>
            </div>
        </div>
    </fieldset>

    <fieldset class="module aligned mb-0">
        <div class="form-row">
            <div>
                <label>Date</label>
                <div class="readonly">{{ original.created_at }}</div>
            </div>
        </div>
    </fieldset>
    <h1>Products</h1>
    <table style="min-width: 600px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
    {% for item in original.orderproduct_set.all %}
        <tbody>
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.price }}</td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}